<h1>{{book.title}}</h1>

<p>  Written by {{#each authors}}{{this.firstName}} {{this.lastName}}{{#unless @last}}, {{/unless}}{{/each}}
</p>

<p>
  First published in {{book.publishingYear}}
</p>
<p>
  {{#if genre}}
    Genre: {{genre.genre}}
    {{/if}}
</p>

{{!-- <a href="/books/edit?id={{bookIdx}}">edit</a> --}}
